# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib
*.dSYM

# Compiled Static libraries
*.lai
*.la
*.a

# Executable files and resources
test/test
test/test.db
build/

# Vim
*.swp

# Visual Studio
*.sdf
*.suo
*.vcxproj.*
Debug
Release
TestResults

